

.heroSearchContainer {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;

    width: 100%;

    z-index: 20;
}

.searchBar {
    background: white;
    padding: 10px;
    border-radius: 0px;
    height: 60px;
    margin-top: 70px;
}

.mobileMenuButton {
    margin-left: auto;
    margin-right: 16px;
    margin-top: 10px;
}

.mobileSearchMenu {
    background: white;
    padding: 20px;

}

.searchBarMobile {
    display: flex;
    flex-direction: column;
}

.searchBar {
    background: white;
    padding: 12px;
}

.selectWrapper {
    position: relative;
}

.selectIcon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    z-index: 5;
    font-size: 15px;
}

.customSelect {
    height: 52px;
    border: 1px solid #e5e5e5 !important;
    padding-left: 42px !important;
    font-weight: 500;
    box-shadow: none !important;
}

.customSelect:focus {
    box-shadow: none !important;
}

.searchButton {
    width: 100%;
    height: 52px;
    border: none !important;
    background: #d41717 !important;
    color: white !important;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;
}

.searchButton:hover {
    background: #b8121a !important;
}

.searchButton:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* MOBILE MENU BUTTON */

.mobileMenuButton {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;

    cursor: pointer;

    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;

    z-index: 100;
}

.mobileMenuButton .line {
    width: 30px;
    height: 3px;

    background: rgb(0, 0, 0);

    border-radius: 10px;

    transition: 0.3s;
}

/* ANIMACION A CRUZ */

.mobileMenuButton .open1 {
    transform: rotate(45deg) translate(6px, 6px);
}

.mobileMenuButton .open2 {
    opacity: 0;
}

.mobileMenuButton .open3 {
    transform: rotate(-45deg) translate(7px, -7px);
}

.topIcon img {
    width: 100px;
    margin-bottom: 1px;
    margin-right: 4px;
    color: #000000;
}

.mobileSearchMenu {
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.bannerMobile {
  position: relative;
  min-height: 400px;
  background-image:
    linear-gradient(
      80deg,
      rgba(255, 35, 35, 0.856),
      rgba(255, 255, 255, 0)
    ),
    url('../img/banner2.jpg');
  background-size: cover;
  background-position: left;
  overflow: hidden;
}

.overlayContent {
  width: 100%;
  padding: 100px 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.overlayContent h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: .9;
}

.overlayContent h1 span {
  display: block;
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
}

.destinos {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  margin-top: 20px;
}

.destinos span {
  background: white;
  color: #b30000;

  padding: 8px 15px;

  border-radius: 50px;

  font-weight: 600;
}

.beneficios {
  display: flex;
  gap: 20px;

  margin-top: 30px;

  flex-wrap: wrap;
}

.btnWhatsapp {
  margin-top: 35px;

  border: none;

  background: white;
  color: #b30000;

  padding: 16px 25px;

  border-radius: 50px;

  font-weight: bold;

  width: fit-content;
}
/* MOBILE */

@media(max-width: 768px) {

    .heroSearchContainer {
        position: absolute;
        top: 0px;
        right: 10px;
        z-index: 20;
    }

}


