nav {
    z-index: 9999;
}
.navbarCustom {
    z-index: 100000000;
    padding: 15px 0;
    background: rgb(223, 33, 33);
}

.navbarTop h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.navbarTop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgLogoNav img {
    width: 100px;
}

.searchBar .form-select,
.searchBar button,
.searchBarMobile .form-select,
.searchBarMobile button {
    height: 35px;
    border-radius: 0px;
}

.searchToggleBtn {
    border-radius: 1px !important;
    padding: 2px 5px !important;
    font-weight: 600;
}

.searchMobile {
    margin-top: 15px;
}

.phoneIcon {
    margin-bottom: 1px;
    margin-right: 4px;
    color: #000000;
}

.navInfo {

    display: flex;

    align-items: center;

    gap: 18px;

    flex-wrap: wrap;

}

.ventasText {

    font-size: 14px;

    font-weight: 700;

    color: #222;

}

.navLink {

    display: flex;

    align-items: center;

    gap: 7px;

    text-decoration: none;

    color: #c70000;

    font-size: 15px;

    font-weight: 500;

    transition: 0.2s;

}

.navSchedule {

    color: #333;

    font-size: 13px;

}


@media (max-width: 992px) {

    .imgLogoNav img {
        width: 100px;
        padding-left: 15px;
    }

    .searchBarMobile {
        width: 100%;
    }

    .navbarTop h5 {
        color: rgb(235, 0, 0);
        display: none;
    }

    .navInfo {
        display: none;
    }

    nav {
        background: rgba(223, 33, 33, 0);
        z-index: 1;
    }
}